doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='css/flexboxgrid.min.css')
    link(rel='stylesheet', type='text/css', href='css/main_style.css')
    script(type='text/javascript', src='js/jquery-2.1.3.min.js')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    title GO🍚
  body
    #back 全
    #module.row
      #sushi.meshi 鮨
      #sake.meshi 酒
      #men.meshi 麺
      #all.meshi 全
    #sensor.row.center-xs.middle-xs
      img#hand(src='./img/hold.png', height='300')
    #massage.row.center-xs Hold Screen
    #howto.row.center-xs How to use
  script(type='text/javascript', src='js/main.js')